<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Дневник здоровья</title>
</head>

<body>
    <header>
        <h1><a href="/">Дневник здоровья</a></h1>
    </header>
    <nav>
        <ul>
            <li>Главная</li>
            <li>Давление</li>
        </ul>
    </nav>
    {% for post in posts %}
        <section>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
            <p>Опубликовано: {{ post.published_date }}</p>
        </section>
    {% endfor %}
</body>

</html>